* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f9f6f6;
  padding: 10px;
  margin-left: 20%;
}
.sidebar {
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #e67e22;
  padding: 30px 20px;
  box-shadow: 2px 0 12px rgba(0,0,0,0.1);
}
a {
  text-decoration: none;
  color: inherit;
}
.products-table {
  width: 90%;
  border-collapse: separate;
  border-spacing: 0 16px;
}

.products-table thead tr {
  background: #f3f3f3;
}

.products-table th {
  padding: 16px;
  color:  #e67e22;
  font-weight: 600;
  text-align: center;
}

.products-table tbody tr {
  background: #f9f9f6;
  border-radius: 12px;
}

.products-table td {
  padding: 16px;
text-align: center;
}

.product-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 10px;
  background: #fff;
  padding: 6px;
  display: block;
  margin: 0 auto;
  
}
