/* SIDEBAR */
.sidebar {
  width: 20%;
  min-height: 100vh;
  background: linear-gradient(180deg, #329479, #059485);
  color: #fff;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 25px;
}

.menu li {
  list-style: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
}

.menu li:hover {
  background: rgba(255, 255, 255, 0.25);
}

.menu .active {
  background: rgba(255, 255, 255, 0.35);
}
